In [1]:
import pandas as pd
import numpy as np

covid_df = pd.read_csv("us_counties_covid19_daily.csv")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [2]:
nyc_df = covid_df[(covid_df['state'] == 'New York') & (covid_df['county'] == 'New York City')].reset_index().drop(['index'],1)
nyc_df.iloc[0:30]

/var/folders/s9/jd3f2tsn0cgctyvrrylr_kdw0000gn/T/ipykernel_80896/2124103592.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  nyc_df = covid_df[(covid_df['state'] == 'New York') & (covid_df['county'] == 'New York City')].reset_index().drop(['index'],1)

          date         county     state  fips  cases  deaths
0   2020-03-01  New York City  New York   NaN      1     0.0
1   2020-03-02  New York City  New York   NaN      1     0.0
2   2020-03-03  New York City  New York   NaN      2     0.0
3   2020-03-04  New York City  New York   NaN      2     0.0
4   2020-03-05  New York City  New York   NaN      4     0.0
5   2020-03-06  New York City  New York   NaN      5     0.0
6   2020-03-07  New York City  New York   NaN     12     0.0
7   2020-03-08  New York City  New York   NaN     14     0.0
8   2020-03-09  New York City  New York   NaN     20     0.0
9   2020-03-10  New York City  New York   NaN     37     0.0
10  2020-03-11  New York City  New York   NaN     52     0.0
11  2020-03-12  New York City  New York   NaN     96     0.0
12  2020-03-13  New York City  New York   NaN    155     0.0
13  2020-03-14  New York City  New York   NaN    269     1.0
14  2020-03-15  New York City  New York   NaN    330     5.0
15  2020-03-16  New York City  New York   NaN    464     7.0
16  2020-03-17  New York City  New York   NaN    646    11.0
17  2020-03-18  New York City  New York   NaN   1344    25.0
18  2020-03-19  New York City  New York   NaN   2477    31.0
19  2020-03-20  New York City  New York   NaN   4419    54.0
20  2020-03-21  New York City  New York   NaN   6226    75.0
21  2020-03-22  New York City  New York   NaN   9065   119.0
22  2020-03-23  New York City  New York   NaN  12329   155.0
23  2020-03-24  New York City  New York   NaN  14943   230.0
24  2020-03-25  New York City  New York   NaN  20061   330.0
25  2020-03-26  New York City  New York   NaN  23182   435.0
26  2020-03-27  New York City  New York   NaN  25509   560.0
27  2020-03-28  New York City  New York   NaN  30919   825.0
28  2020-03-29  New York City  New York   NaN  33983   991.0
29  2020-03-30  New York City  New York   NaN  38375  1202.0

In [3]:
# Create new columns to hold daily change in cases and deaths

nyc_df['new_cases'] = pd.Series(dtype=int)
nyc_df['new_deaths'] = pd.Series(dtype=int)

nyc_df.head()

,date,county,state,fips,cases,deaths,new_cases,new_deaths
0,2020-03-01,New York City,New York,NaN,1,0.0,NaN,NaN
1,2020-03-02,New York City,New York,NaN,1,0.0,NaN,NaN
2,2020-03-03,New York City,New York,NaN,2,0.0,NaN,NaN
3,2020-03-04,New York City,New York,NaN,2,0.0,NaN,NaN
4,2020-03-05,New York City,New York,NaN,4,0.0,NaN,NaN

In [4]:
# Record values for daily change in cases and deaths
for i in range(1,len(nyc_df.index)):
    
    # Set new cases
    current_cases = nyc_df.iloc[i,4]
    yesterday_cases = nyc_df.iloc[i-1,4]
    nyc_df.iloc[i,6] = current_cases - yesterday_cases

    # Set new deaths
    current_deaths = nyc_df.iloc[i,5]
    yesterday_deaths = nyc_df.iloc[i-1,5]
    nyc_df.iloc[i,7] = current_deaths - yesterday_deaths

nyc_df.head(30)

,date,county,state,fips,cases,deaths,new_cases,new_deaths
0,2020-03-01,New York City,New York,NaN,1,0.0,NaN,NaN
1,2020-03-02,New York City,New York,NaN,1,0.0,0.0,0.0
2,2020-03-03,New York City,New York,NaN,2,0.0,1.0,0.0
3,2020-03-04,New York City,New York,NaN,2,0.0,0.0,0.0
4,2020-03-05,New York City,New York,NaN,4,0.0,2.0,0.0
5,2020-03-06,New York City,New York,NaN,5,0.0,1.0,0.0
6,2020-03-07,New York City,New York,NaN,12,0.0,7.0,0.0
7,2020-03-08,New York City,New York,NaN,14,0.0,2.0,0.0
8,2020-03-09,New York City,New York,NaN,20,0.0,6.0,0.0
9,2020-03-10,New York City,New York,NaN,37,0.0,17.0,0.0
10,2020-03-11,New York City,New York,NaN,52,0.0,15.0,0.0
11,2020-03-12,New York City,New York,NaN,96,0.0,44.0,0.0
12,2020-03-13,New York City,New York,NaN,155,0.0,59.0,0.0
13,2020-03-14,New York City,New York,NaN,269,1.0,114.0,1.0
14,2020-03-15,New York City,New York,NaN,330,5.0,61.0,4.0
15,2020-03-16,New York City,New York,NaN,464,7.0,134.0,2.0
16,2020-03-17,New York City,New York,NaN,646,11.0,182.0,4.0
17,2020-03-18,New York City,New York,NaN,1344,25.0,698.0,14.0
18,2020-03-19,New York City,New York,NaN,2477,31.0,1133.0,6.0
19,2020-03-20,New York City,New York,NaN,4419,54.0,1942.0,23.0
20,2020-03-21,New York City,New York,NaN,6226,75.0,1807.0,21.0
21,2020-03-22,New York City,New York,NaN,9065,119.0,2839.0,44.0
22,2020-03-23,New York City,New York,NaN,12329,155.0,3264.0,36.0
23,2020-03-24,New York City,New York,NaN,14943,230.0,2614.0,75.0
24,2020-03-25,New York City,New York,NaN,20061,330.0,5118.0,100.0
25,2020-03-26,New York City,New York,NaN,23182,435.0,3121.0,105.0
26,2020-03-27,New York City,New York,NaN,25509,560.0,2327.0,125.0
27,2020-03-28,New York City,New York,NaN,30919,825.0,5410.0,265.0
28,2020-03-29,New York City,New York,NaN,33983,991.0,3064.0,166.0
29,2020-03-30,New York City,New York,NaN,38375,1202.0,4392.0,211.0

In [5]:
# Create columns to hold 7 and 14 day changes in cases and deats
nyc_df['case_delta_7'] = pd.Series(dtype=int)
nyc_df['death_delta_7'] = pd.Series(dtype=int)
nyc_df['case_delta_14'] = pd.Series(dtype=int)
nyc_df['death_delta_14'] = pd.Series(dtype=int)

nyc_df.head()

,date,county,state,fips,cases,deaths,new_cases,new_deaths,case_delta_7,death_delta_7,case_delta_14,death_delta_14
0,2020-03-01,New York City,New York,NaN,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-02,New York City,New York,NaN,1,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2020-03-03,New York City,New York,NaN,2,0.0,1.0,0.0,NaN,NaN,NaN,NaN
3,2020-03-04,New York City,New York,NaN,2,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2020-03-05,New York City,New York,NaN,4,0.0,2.0,0.0,NaN,NaN,NaN,NaN

In [6]:
# Record the change in number of cases and deaths from 7 days ago to today
for i in range(7,len(nyc_df.index)):

    previous_cases = nyc_df.iloc[i-7,4]
    current_cases = nyc_df.iloc[i,4]
    previous_deaths = nyc_df.iloc[i-7,5]
    current_deaths = nyc_df.iloc[i,5]
    
    nyc_df.iloc[i,8] = current_cases - previous_cases
    nyc_df.iloc[i,9] = current_deaths - previous_deaths

# Record the change in number of cases and deaths from 14 days ago to today
for i in range(14,len(nyc_df.index)):
    previous_cases = nyc_df.iloc[i-14,4]
    current_cases = nyc_df.iloc[i,4]
    previous_deaths = nyc_df.iloc[i-14,5]
    current_deaths = nyc_df.iloc[i,5]

    nyc_df.iloc[i,10] = current_cases - previous_cases
    nyc_df.iloc[i,11] = current_deaths - previous_deaths

nyc_df.head(30)

,date,county,state,fips,cases,deaths,new_cases,new_deaths,case_delta_7,death_delta_7,case_delta_14,death_delta_14
0,2020-03-01,New York City,New York,NaN,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-02,New York City,New York,NaN,1,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2020-03-03,New York City,New York,NaN,2,0.0,1.0,0.0,NaN,NaN,NaN,NaN
3,2020-03-04,New York City,New York,NaN,2,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2020-03-05,New York City,New York,NaN,4,0.0,2.0,0.0,NaN,NaN,NaN,NaN
5,2020-03-06,New York City,New York,NaN,5,0.0,1.0,0.0,NaN,NaN,NaN,NaN
6,2020-03-07,New York City,New York,NaN,12,0.0,7.0,0.0,NaN,NaN,NaN,NaN
7,2020-03-08,New York City,New York,NaN,14,0.0,2.0,0.0,13.0,0.0,NaN,NaN
8,2020-03-09,New York City,New York,NaN,20,0.0,6.0,0.0,19.0,0.0,NaN,NaN
9,2020-03-10,New York City,New York,NaN,37,0.0,17.0,0.0,35.0,0.0,NaN,NaN
10,2020-03-11,New York City,New York,NaN,52,0.0,15.0,0.0,50.0,0.0,NaN,NaN
11,2020-03-12,New York City,New York,NaN,96,0.0,44.0,0.0,92.0,0.0,NaN,NaN
12,2020-03-13,New York City,New York,NaN,155,0.0,59.0,0.0,150.0,0.0,NaN,NaN
13,2020-03-14,New York City,New York,NaN,269,1.0,114.0,1.0,257.0,1.0,NaN,NaN
14,2020-03-15,New York City,New York,NaN,330,5.0,61.0,4.0,316.0,5.0,329.0,5.0
15,2020-03-16,New York City,New York,NaN,464,7.0,134.0,2.0,444.0,7.0,463.0,7.0
16,2020-03-17,New York City,New York,NaN,646,11.0,182.0,4.0,609.0,11.0,644.0,11.0
17,2020-03-18,New York City,New York,NaN,1344,25.0,698.0,14.0,1292.0,25.0,1342.0,25.0
18,2020-03-19,New York City,New York,NaN,2477,31.0,1133.0,6.0,2381.0,31.0,2473.0,31.0
19,2020-03-20,New York City,New York,NaN,4419,54.0,1942.0,23.0,4264.0,54.0,4414.0,54.0
20,2020-03-21,New York City,New York,NaN,6226,75.0,1807.0,21.0,5957.0,74.0,6214.0,75.0
21,2020-03-22,New York City,New York,NaN,9065,119.0,2839.0,44.0,8735.0,114.0,9051.0,119.0
22,2020-03-23,New York City,New York,NaN,12329,155.0,3264.0,36.0,11865.0,148.0,12309.0,155.0
23,2020-03-24,New York City,New York,NaN,14943,230.0,2614.0,75.0,14297.0,219.0,14906.0,230.0
24,2020-03-25,New York City,New York,NaN,20061,330.0,5118.0,100.0,18717.0,305.0,20009.0,330.0
25,2020-03-26,New York City,New York,NaN,23182,435.0,3121.0,105.0,20705.0,404.0,23086.0,435.0
26,2020-03-27,New York City,New York,NaN,25509,560.0,2327.0,125.0,21090.0,506.0,25354.0,560.0
27,2020-03-28,New York City,New York,NaN,30919,825.0,5410.0,265.0,24693.0,750.0,30650.0,824.0
28,2020-03-29,New York City,New York,NaN,33983,991.0,3064.0,166.0,24918.0,872.0,33653.0,986.0
29,2020-03-30,New York City,New York,NaN,38375,1202.0,4392.0,211.0,26046.0,1047.0,37911.0,1195.0

In [7]:
nyc_df.to_csv('nyc_covid_all_counts.csv')

In [9]:
# number of days
len(nyc_df.index)

280