In [2]:
import pandas as pd
import numpy as np

In [3]:
weather_df = pd.read_csv('../data/weather/county_weather.csv').drop(columns=['Unnamed: 0'])
weather_df.head()

,date,county,state,temp_mean(C),precip_sum(mm),wind_max(km/h),min_humidity(%),max_humidity(%),mean_humidity(%)
0,2020-01-01,baltimore,maryland,4.7,0.0,20.9,42,72,54.0
1,2020-01-02,baltimore,maryland,4.2,0.0,18.8,64,84,72.0
2,2020-01-03,baltimore,maryland,9.0,6.8,18.0,68,100,92.0
3,2020-01-04,baltimore,maryland,10.5,10.8,20.6,85,100,95.0
4,2020-01-05,baltimore,maryland,3.6,0.4,33.0,43,92,59.0

In [4]:
sparse_county = [
    'fairfax',
    'camden',
    'harris',
    'franklin',
    'marion',
    'dekalb',
    'duval',
    'wake',
    'bexar'
]

dense_county = [
    'baltimore',
    'essex',
    'cook',
    'union',
    'norfolk',
    'nassau',
    'harrisonburg'
]

In [8]:
sparse_weather_df = weather_df[weather_df['county'].isin(sparse_county)]
sparse_weather_df.describe()

,temp_mean(C),precip_sum(mm),wind_max(km/h),min_humidity(%),max_humidity(%),mean_humidity(%)
count,3294.000000,3294.000000,3294.000000,3294.000000,3294.000000,3294.000000
mean,16.919702,3.407498,16.948421,52.621433,88.918944,71.971463
std,8.706460,7.821301,5.999712,15.287893,10.911111,13.265553
min,-11.000000,0.000000,5.800000,10.000000,33.000000,24.000000
25%,10.125000,0.000000,12.500000,41.000000,84.000000,63.000000
50%,18.300000,0.100000,16.000000,51.000000,93.000000,73.000000
75%,24.500000,2.975000,20.500000,63.000000,97.000000,82.000000
max,33.000000,98.300000,49.700000,98.000000,100.000000,100.000000

In [7]:
dense_weather_df = weather_df[weather_df['county'].isin(dense_county)]
dense_weather_df.describe()

,temp_mean(C),precip_sum(mm),wind_max(km/h),min_humidity(%),max_humidity(%),mean_humidity(%)
count,2562.000000,2562.00000,2562.000000,2562.000000,2562.000000,2562.000000
mean,13.322131,3.40121,18.866432,55.406323,88.318111,72.853630
std,8.753436,7.56329,7.473041,15.536683,10.872944,12.835123
min,-13.000000,0.00000,5.000000,19.000000,46.000000,35.000000
25%,6.100000,0.00000,13.400000,43.000000,82.000000,64.000000
50%,13.100000,0.10000,17.400000,54.000000,92.000000,74.000000
75%,21.300000,3.00000,23.000000,66.000000,97.000000,83.000000
max,31.500000,72.80000,68.400000,100.000000,100.000000,100.000000